@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;800&display=swap");

@import "tailwindcss";

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  background: #020817;
}
